

 /* Main wrapper */
.view-wrapper {
  width: 100%;
  max-width: 100%;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

/* Controls */
.sdiv {
  margin-top: 5px;
  background-color: rgb(76, 79, 110);
  color: rgb(10, 10, 10);
  /* padding: 3px 5px; */
  width: fit-content;
  border-radius: 15px;
}

/* Button */
.sdiv button {
  background: #409292;
  color: #fff;
  border: none;
  padding: 3px 6px;
  border-radius: 4px;
  margin: 10px 10px ;
  cursor: pointer;
}
.sdiv button:hover {
  background: #033744;
}

/* //new update */
.actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.actions button {
  padding: 4px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.edit-btn {
  background-color: #4caf50;
  color: white;
}

.edit-btn:hover {
  background-color: #45a045;
}

.delete-btn {
  background-color: #063b4b;
  color: white;
}

.delete-btn:hover {
  background-color: #053c49;
}




/* Claims list container */
.claims-list {
  list-style: none;
  padding: 0;
  margin: 2px 0;
  overflow-x: auto;    /* Enables horizontal scrolling */
  white-space: nowrap; /* Keep items in a row */
}

/* Each claim row */
.claims-list li {
  display: grid;
  grid-template-columns: repeat(10, auto);
  gap: 20px;
  padding: 12px 15px;
  border-bottom: 1px solid #ccc;
  align-items: center;
  min-width: 1200px; /* ensures horizontal scrolling */
}

/* Row hover */
/* .claims-list li:hover {
  background: #f9fafb;
} */

/* Left section (name + date) */
.left .name {
  font-weight: bold;
  font-size: 16px;
}

.left .meta {
  font-size: 13px;
  color: #1b1b1b;
}

/* Details formatted as inline values */
.details div {
  white-space: nowrap; /* keep values in row */
}

/* Hide HR inside row */
.claims-list li hr {
  display: none;
}

/* Empty message */
.empty {
  text-align: center;
  margin-top: 25px;
  color: #888;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 768px) {
  .claims-list li {
    font-size: 14px;
    gap: 10px;
    min-width: 900px;
  }
}

@media (max-width: 480px) {
  .claims-list li {
    font-size: 13px;
    min-width: 750px;
  }
}

