
<nav *ngIf="!isAuthPage()" class="navbar">

  <a routerLink="/home">Home</a>
  <!-- <a routerLink="/about">About</a>
  <a routerLink="/contact">Contact</a> -->
  <a routerLink="/claim-form">Claim-form</a>
  <a routerLink="/empap">LeaveForm</a>
  <a routerLink="/medical-form">MedicalForm</a>
  <a routerLink="/view-claim">ViewClaim</a>
  <a routerLink="/form-array">PatientForm</a>

  <span style="float: right;">

    <!-- Logged-in area -->
    <ng-container *ngIf="isLoggedIn$ | async; else loggedOut">
      <!-- Show email -->
      <span>Welcome, {{ userEmail }}</span>

      <a href="#" (click)="authLogout()">Logout</a>
    </ng-container>

    <!-- Logged-out area -->
    <ng-template #loggedOut>
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </ng-template>

  </span>
</nav>
